@charset "utf-8";
/*Client_Mannage_System Html v1.0 css v:1.0 */
/*initial style */
*{
	box-sizing:border-box;
	width:100%;
	padding:1px 0 0 0;
	margin:0px;
	border:none;
	text-align:center;
	outline:none;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
/* tag style */
body,html{
	height:auto;
	min-width:1050px;
}
a{
	text-decoration: none;
}
html{
	font-size:10px;
	background-color:#f1f1f1;
}
span{
	display:inline-block;
}
img{
	max-height:100%;
}
ins{
	cursor:pointer;
}
ins:hover{
	color:gray;
}
button:hover{
	cursor:pointer;
}
/* common style */
.reset{
	border:none;
	background-color:#d3eef9;
}
#close{
	width:3rem;
	height:3rem;
	position:absolute;
	right:2rem;
	border-bottom-left-radius:1.5rem;
	border-bottom-right-radius:1.5rem;
	background-color:black;
	color:white;
	line-height:2.5rem;
	z-index:63;
}
/* 系统初始化 */
.DBMS_header{
	height:70px;
	line-height:70px;
	background-image:linear-gradient(180deg,#161b1f 3%,#374754 6%,#252e37 9%, #28323b 83%,#28323a 86%, #2a3740 93%,#181f25 96%,#161b1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161b1f', endColorstr='#161b1f',GradientType=0 ); 
	position:relative;
	color:white;
}
.DBMS_body{
	height:1200px;
	overflow:hidden;
	background-color:#333333;
}
/*后台系统头部*/
.DBMS_header span{
	width:15%;
	height:60px;
	vertical-align:top;
	float:left;
}
span.DBMS_header--logout{
	width:240px;
	height:40px;
	float:right;
	margin-top:20px;
	margin-right:2%;
}
.DBMS_header--logout button{
	float:left;
	width:120px;
	/* height:40px; */
	line-height: 40px;
	font-size:1.8rem;
	background-color:transparent;
	color:white;
}
.DBMS_header--logout button:hover{
	color:#bdbcbc;
}
.DBMS_header--logout i{
	height:100%;
	width:30px;
}
.DBMS_header--exception{
	width:10%;
}
span.DBMS_header--title{
	float: left;
	width:280px;
}
.DBMS_header--title p{
	height:60px;
	line-height:60px;
	font-size:2rem;
}
.DBMS_header--title i{
	width:10%;
	margin-right:10px;
}
.DBMS_header sup{
	font-size:8px;
	margin-left:6px;
}
span.DBMS_header--select{
	float: left;
	width:380px;
}
.DBMS_header--select span:first-child{
	width:30%;
}
.DBMS_header--select span:last-child{
	width:70%;
}
.DBMS_header--select p{
	height:100%;
	font-size:1.6rem;
}
.DBMS_header--select i{
	width:20%;
}
.DBMS_header--select select{
	width:30%;
	height:60%;
	background-color:transparent;
	color:white;
}
.DBMS_header--select option{
	color:black;
}
.DBMS_header--select ul{
  height:100%;
}
.DBMS_header--select li{
  float: left;
  width:30%;
  height:60%;
  list-style:none;
  font-size:1.6rem;
}
.DBMS_header--select input{
  width:70%;
  height:70%;
  background:linear-gradient(90deg,#ea1e4c 50%,#dd0a20 100%);
  color:white;
  cursor:pointer;
}
/*后台系统功能区*/
.DBMS_body>span{
	height:1200px;
	float:left;
	overflow-x:hidden;
}
.DBMS_funcArea{
	width:15%;
	background-color:#1f262e;
}
.DBMS_funcArea>div{
	padding:40px 0;
}
.DBMS_funcArea i{
	width:7%;
	margin-right:15px;
}
.DBMS_funcArea p{
	width:85%;
	height:4.5rem;
	text-align:left;
	padding-left:15%;
	font-size:1.9rem;
	background-color:transparent;
	color:#a4c6e5;
}
.DBMS_funcArea i:nth-child(even){
	margin-left:80px;
	margin-right:0px;
}
.DBMS_funcArea button{
	width:60%;
	height:4.5rem;
	background-color:transparent;
	font-size:1.7rem;
	color:white;
}
.DBMS_funcArea button:hover{
	background: #6cba42;
}
/*后台内容显示区*/
.DBMS_disArea{
	width:85%;
	background:#eef2f5;
	overflow:scroll;
}
/*表单初始化*/
.product--warp{
	position:relative;
	width:auto;
	height:auto;
}
.product--warp fieldset{
	width:auto;
	height:auto;
	border:1px solid black;
	margin:2% 2%;
	text-align:left;
	background-color:#eef2f0;
}
.product--warp legend{
	width:auto;
	margin-left:10%;
	font-size:20px;
	font-weight:600;
	text-align:left;
}
.product--warp div{
	width:200px;
	height:50px;
}
.product--warp input{
  border:1px solid rgba(50%,50%,50%,.4);
}
.product--warp div input{
	width:35%;
}
.product--warp select{
	width:200px;
	height:50px;
	font-size:18px;
	padding-left:30%;
  border:1px solid rgba(50%,50%,50%,.4);
}
.product--warp p{
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
}
.product--warp i{
	display:inline-block;
	width:20px;
	height:50px;
	white-space:nowrap;
}
.product--warp b{
	display:inline-block;
	width:30px;
	height:50px;
	line-height:50px;
	font-size:18px;
	white-space: nowrap;
	font-weight:300;
}
/*基本要求*/
.product_basicInfo--warp span{
	float: left;
	width:200px;
	height:150px;
	margin-left:40px;
}
.product_basicInfo--warp input{
	width:200px;
	height:50px;
	font-size:18px;
}
span.product_company--warp::before{
	content:'单位限制';
	display: block;
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
}
span.product_industry--warp::before{
	content:'行业限制';
	display: block;
	width:200px;
	height:50px;
	line-height:50px;
	font-size:18px;
}
/*申请人及单位要求*/
.product_otherInfo--warp span{
	width:200px;
	height:150px;
	margin-left:40px;
}
.product_otherInfo--warp input{
	width:200px;
	height:50px;
	font-size:18px;
}
/*征信要求*/
.product_creditRequire--warp span{
	height:60px;
	line-height:60px;
	width:18%;
}
.product_creditRequire--warp input{
	height:30px;
	width:40%;
}
.product_creditRequire--warp select{
	width:100px;
	height:35px;
	font-size:15px;
	padding-left:0;
}
.product_creditRequire--warp button{
	height:50px;
	width:70px;
  border:1px solid rgba(50%,50%,50%,.4);
}
.product_creditRequire--warp p{
	width:70%;
	height:50px;
}
.product_creditRequire--warp b{
	height:50px;
	width:25%;
	font-size:15px;
}
div.creditRequire_child_head{
	width:100%;
	height:auto;
	border-bottom:2px solid yellow;
	overflow:hidden;
}
.creditRequire_child_head span{
	float:left;
	height:50px;
	width:50%;
}
.creditRequire_child_head select{
	margin-top:10px;
	margin-right:10%;
	width:15%;
	height:50%;
	float:right;
}
[class=product_creditRequire--warp] input{
	width:60px;
}
button[class*=singleEnable]{
	height:35px;
	background:white;
}
div[class*=creditRequire]{
	width:100%;
	height:auto;
}
div[class=creditRequire_child_foot]{
	margin-top:10px;
	width:100%;
	height:50px;
}
.creditRequire_child_foot button{
	margin:0 auto;
	height:35px;
	background:white;
}
/*征信查询次数样式*/
div[class$=overduo--warp]{
	margin:20px auto;
	width:96%;
	background:white;
	border:1px solid rgba(50%,50%,50%,.5);
}
div[class$=query--warp]{
	margin:20px auto;
	width:96%;
	background:white;
	border:1px solid rgba(50%,50%,50%,.5);
}
div[class$=liability--warp]{
	margin:20px auto;
	width:96%;
	background:white;
	border:1px solid rgba(50%,50%,50%,.5);
}
/*补充数据*/
.disArea_product--data span{
	height:150px;
}
.disArea_product--data textarea{
	height:100px;
	width:80%;
	font-size:30px;
	text-align:left;
	padding:30px 20px;
	margin-top:2%;
}
.disArea_product--data p{
	height:50px;
	width:100%;
}
/*表单处理*/
div.disArea_product--handle{
	width:100%;
	height:8rem;
}
.disArea_product--handle button{
	height:4rem;
	width:10rem;
	background:linear-gradient(90deg,#ea1e4c 50%,#dd0a20 100%);
	color:white;
}
/*添加产品成功显示界面*/
.disArea_product--success{
	height:400px;
	width:400px;
	margin:200px auto;
}
.disArea_product--success p{
	height:200px;
	font-size:20px;
}
.disArea_product--success div{
	height:200px;
}
.disArea_product--success i{
	margin-bottom:22px;
	font-size:100px;
	color:green;
}
.disArea_product--success span{
	height:100%;
	width:50%;
	float:left;
}
.disArea_product--success button{
	width:120px;
	height:63px;
	color:white;
	font-size:18px;
	background-image:linear-gradient(to top,rgb(44,160,202) 0%,rgb(62,184,229) 100%);
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 5px 10px #156785;
}
/*选择要添加产品类型*/
.disArea_loanType{
	height:auto;
	width:auto;
	margin:2rem 2rem;
}
/*选择要添加产品类型详情*/
.disArea_loanType--details{
	width:100%;
	height:auto;
	background:white;
	margin-top:2rem;
	text-align:left;
	box-shadow:0 0 6px 0px gray;
}
.disArea_loanType--details>div{
	height:3rem;
	line-height:3rem;
	background:#e3e6eb;
}
.disArea_loanType--details h2{
	font-size:2rem;
	text-align:left;
	padding-left:2rem;
}
.disArea_loanType--details span{
	position:relative;
	height:10rem;
	width:10rem;
	margin:2rem 2rem;
	background:#0c5fa1;
	color:white;
}
/*选择要添加产品类型详情-1*/
div.disArea_loanType--one{
	position:absolute;
	height:100%;
	width:100%;
	background:#0c5fa1;
}
.disArea_loanType--one i{
	margin-top:20%;
	font-size:50px;
}
.disArea_loanType--one p{
	margin-top:5%;
}
/*选择要添加产品类型详情-2*/
div.disArea_loanType--two{
	visibility: hidden;
	position:absolute;
	height:100%;
	width:100%;
}
.disArea_loanType--two div{
	height:50%;
	width:100%;
	background:#0c5fa1;
}
.disArea_loanType--two button{
	height:50%;
	width:80%;
	margin:10% auto;
	border-radius:10px;
	background-color:white;
	box-shadow:0 0 10px 2px gray;
	color:black;
}
.disArea_loanType--two button:hover{
	cursor:pointer;
	opacity:0.9;
}
/*产品管理*/
.product_edit{
	margin:20px auto;
	width:90%;
	height:auto;
}
.product_edit--title{
	padding-left:20px;
	width:100%;
	height:40px;
	font-size:30px;
}
.product_edit--body{
	margin-top:20px;
	width:100%;
	height:auto;
	font-size:18px;
	border: 1px solid rgba(50%,50%,50%,.4);
}
.product_edit--body tr{
	width:100%;
	height:50px;
}
.product_edit--body th{
	width:25%;
	height:50px;
	color:white;
	background: #4e606a;
	border-left:1px solid gray;
	font-size:16px;
}
.product_edit--body td{
	width:25%;
	height:50px;
	font-size:16px;
}
.product_edit--editor{
	width:60px;
	height:25px;
	background: #07c6c4;
	color:white;
}
.table_tbody--warp tr{
	background:#fff;
	transition:box-shadow .5s;
}
.table_tbody--warp tr:hover{
	opacity:.8;
	box-shadow:0px 0px 10px 0px gray;
}
tr.table_tfoot{
	margin-top:20px;
	height:120px;
}
.table_tfoot td{
	width:50px;
}
.table_tfoot button{
	height:40px;
	width:60px;
	background:#fff;
	font-size:14px;
	border: 1px solid rgba(50%,50%,50%,.4);
}
.table_tfoot button:hover{
	background:#07c6c4;
	color: white;
}
.table_tfoot input{
	height:40px;
	width:60px;
	background:#fff;
	font-size:15px;
	border: 1px solid rgba(50%,50%,50%,.4);
}
.table_tfoot span{
	height:40px;
	width:60px;
}
.table_tfoot p{
	line-height: 40px;
	height:100%;
	width:100%;
	font-size:15px;
}
/* 模块库 */
div[class*=module]{
  display:none;
  position:relative;
  width:200px;
  height:200px;
  background:#fff;
  overflow-y:scroll;
  border:1px solid rgba(50%,50%,50%,.4);
  z-index:3;
}
p[class*=module]{
  width:200px;
  height:50px;
  background:#fff;
  border:1px solid rgba(50%,50%,50%,.4);
  overflow:hidden;
}
[class*=module] div{
  width:100%;
  height:30px;
  font-size:18px;
}
[class*=module] div:hover{
  background:#07c6c4;
  color:white;
}
[class*=module] label{
  display:inline-block;
  vertical-align:top;
  width:60%;
}
[class*=module] input{
 display:inline-block;
 margin-left:2%;
vertical-align:middle;
 width:20px;
 height:20px;
}
/* end */
/* chushen */
#rightBox{
	width: 95%;
	margin-top: 20px;
}
#rightBox span{
	display: inline;
}
ul,li{ 
	list-style: none;
}
.clear:after{ 
	clear:both;
	content:'';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}
.cusFir{ 
	width: 100%;
	background: #fff;
	margin: 0 auto;
	line-height: 40px;
	text-align: left;
	border-top: 4px solid #009cff; 
}
.cusFir_span{ 
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin-left: 18px; 
	text-align: left;
}
#cusCon{ 
	width: 100%;
	margin: 0 auto;
	border: 1px solid #e5e5e5;
	border-top: none;
	overflow: hidden; 
	background: #efefef;
}
#cusCon li{ 
	width: 100%;
	background: #fff;
	margin: 9px auto 0; 
}
#cusCon li img{ 
	width: 60px;
	height: 60px;
	margin: 25px 0 25px 25px;
	float: left; 
}
#cusCon li p{ 
	float: left;
	width: 350px;
	margin-top: 20px;
	font-size: 20px;
	margin-left: 50px;
	text-align: left;
}
#cusCon li p button{
	width: 68px;
	height: 30px;
	color: #fff;
	background: #009cff;
	border-radius: 5px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
}
.cusPad{ 
	padding-left: 25px;
}
#page{
	margin-top: 10px;
	font-size: 14px;
	color:#585858;
}
#page a{
	color:#585858;
	text-decoration: none;
}
/* shenhe */
#cusFir_btn{
	width: 450px;
	height: 36px;
	margin-top: 5px;
	float: right;
}
#cusFir_btn button{
	width: 68px;
	line-height: 30px;
	color: #fff;
	background: #00B7EE;
	border-radius: 5px;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px;
	float: left;
	margin: 0 0 0 40px;
}
#cusFir_btn button:hover{
	background: #00c4f1;
}
#cusFir_btn #lose{
	background: #eb7070;
}
#cusFir_btn #lose:hover{
    background: #fe676a;
}
table{
	margin: 0 auto;
	width: 100%;
	margin-top: 10px;
	table-layout:fixed;
	background: #fff;
	border: 1px solid rgba(50%,50%,50%,.4);
}
table tr th{
	width: 16.6667%;
	font-size: 15px;
	line-height: 40px;
	background: #4e606a;
	color: #fff;
	/* border: 1px solid #7ccefd; */
	/* background-image: linear-gradient(to bottom, #e3f6ff, #60c5fc); */
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f6ff', endColorstr='#60c5fc',GradientType=0 );  */
}
table tr td{
	width: 16.6667%;
	font-size: 14px;
	border: 1px solid rgba(50%,50%,50%,.4);
	padding: 10px 0;
}
table tr .listRight{
	border-right: 0px;
}
table tr .listCentre{
	border-right: 0px;
	border-left: 0px;
}
table tr .listLeft{
	border-left: 0px;
}
table tr .listOne{
	border-right: 0px;
}
table tr .listTop{
	border-top:0px;
}
#picture{
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}
.pictureOne{
	width: 50%;
	float: left;
	vertical-align: middle;
}
.pictureOne img{
	height: auto;
}
/* huankuan */
.refund_btn{
	width: 300px;
	margin: 0 auto;
	margin-top: 10px;
}
.refund_btn button{
	width: 90px;
	height: 40px;
	color: #fff;
	font-size: 15px;
	background: #00B7EE;
	border-radius: 5px;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px;
	float: left;
	margin: 5px 0 0 40px;
}
.refund_btn button:hover{
	background: #00c4f1;
}
.refund_btn .amend{
	background: #eb7070;
}
.refund_btn .amend:hover{
	background: #fe676a;
}
/* AuditPush */
.box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50px;
	display: none;
}
.Audit{
	background: #F2F2F2;
	width: 400px;
	height: 250px;
	font-size: 18px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -200px;
	z-index: 50px;
}
.Audit span{
	display: inline;
}
.AuditPush{
	height: 40px;
	line-height: 40px;
	background: #E8E8E8;
}
.AuditPush span{
	display: inline-block;
	padding: 0 10px;
}
.AuditPushOne{
	width: 100px;
	float: left;
}
.AuditX {
	width: 50px;
	float: right;
	font-size:25px;
	cursor:pointer;
}
.AuditSuccess{
	height: 155px;
	border-bottom: 1px solid #E8E8E8;
}
.AuditSuccess .Radic{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #68C56A;
	color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin: 20px 20px 20px 22px;
}
.AuditSuccess .AuditSuccessOne{
	width: 260px;
	text-align: left;
	margin-left: 20px;
}
.AuditSuccess .AuditChoose{
	width: 400px;
	font-size: 14px;
	word-wrap: break-word;
}
.AuditSuccess .AuditChoose p{
	width: 260px;
	margin: 0 auto;
	text-align: left;
}
.AuditSuccess .AuditChoose input{
	width: 50px;
}
.AuditSuccess .AuditChoose .Pin{
	width: 180px;
}
.AuditSuccess .AuditChoose textarea{
	width: 300px;
}
#bank{
	color: #398AF6;
	width: 100px;
	text-align: center;
}
.AuditEnter button{
	float: right;
	width: 60px;
	height: 25px;
	margin: 13px 10px;
	border: none;
}
.AuditEnter .confirm{
	background: #68C56A;
	color: #fff;
}
.AuditEnter .cancelX{
	border: 1px solid #9E9E9E;
	background:#F2F2F2; 
}
/* 放款通知 */
.WorkOrder{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid rgb(202, 202, 202);
	font-size: 14px;
	text-align: left;
}
.WorkOrder div p{
	width: 70px;
	float: left;
}
.WorkOrder .WorkOrder_Message{
	width: 100px;
	margin-right: 30px;
	border: 1px solid #9E9E9E;
}
.WorkOrder div{
	text-align: left;
	padding: 20px 20px;
	margin-bottom: 20px;
}
.WorkOrderTwo span{
	margin: 0 50px 0 0;
}
.WorkOrderTwo .WorkOrder_Radic{
	background: #009CFF;
	color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 20px;
	/* line-height: 30px;
	text-align: center; */
	margin-right: 10px;
}
.WorkOrderTwo{
	padding: 20px;
}
.WorkOrderTwo .WorkOrder_Radic_Gray{
	background: #BDBDBD;
}
.Question{
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px dashed #9E9E9E;
}
.QuestionOne{
	width: 100%;
	/* height: 40px; */
	line-height: 40px;
}
.QuestionOne span{
	text-align: left;
	float: left;
}
.QuestionOne p{
	width: 250px;
	text-align: left;
}
.QuestionOne_1{
	font-size: 12px;
	margin-left: 40px;
	float: left;
}
.QuestionOne_2{
	font-size: 12px;
	float: right;
}
.QuestionOne_3{
	font-size: 12px;
	float: left;
}
/* 子账号 */
#per-que p{
	text-align: left;
	font-size: 14px;
}
#nav{
	font-size: 14px;
	background-image: linear-gradient(to bottom, #fcfcfc, #e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e9e9e9',GradientType=0 ); 
	border-bottom: 1px solid #c2c3c4;
}
.per-que-nav{
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
}
.per-que-nav span{
	display: inline;
}
.per-que-nav p{
	width: 260px;
	text-align: left;
	padding-left: 5px;
	float: left;
}
.per-que-nav p .house{
	font-size: 20px;
	color: rgb(80, 80, 80);
}
#que-nav-data{
	float: right;
}
#per_con_form p{
	height: 60px;
	padding-top: 10px;
	padding-left: 30px;
}
#per_con_form .head{
	font-size: 40px;
	color: #00b7ee;
}
#per_con_form p input{
	width: 300px;
	height: 50px;
	border: 1px solid rgb(197, 197, 197);
}
#per_con_form p span{
	display: inline-block;
	font-size: 14px;
	width: 90px;
	line-height: 40px;
	float: left;
	margin-bottom: 10px;
	text-align: left;
}
#per_con_form #sel{
	width: 300px;
	height: 50px;
	text-align: center;
	background: #fff;
	border: 1px solid rgb(197, 197, 197);
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
#per_con_form ul{
	display: none;
	width: 300px;
	background: #FFFFFF;
	margin-left: 120px;
	border: 1px solid rgb(197, 197, 197);
}
#per_con_form ul li{
	height: 30px;
	line-height: 30px;
}
#per_con_form ul li span{
    font-size: 14px;
	display: inline;
}
#per_con_form ul li input{
	width: 15px;
}
#per_con_form p select{
	width: 300px;
	height: 40px;
	border: 1px solid rgb(197, 197, 197);
	vertical-align: middle;
	padding-left: 120px;
}
.per_btn{
	width: 350px;
	margin-left: 80px;
}
.per_btn button{
	width: 100px;
	height: 40px;
	background: #00b7ee;
    border: 1px solid #00a2e8;
    color: #fff;
	font-size: 18px;
	margin-right: 20px;
}
.per_btn .btn_2{
	background: #F0F3F6;
	border: 1px rgb(207, 207, 207) solid;
	color: #333;
}
.per_btn button:hover{
	background: #00c4f1;
}
.per_btn .btn_2:hover{
	background: #f4f8fd;
}
.per_que_con{
	width: 480px;
	background: #f8f9fa;
	border: 1px #e0e3e6 solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	padding-bottom: 30px;
	margin: 0 auto;
}
.per_con_con{
	padding-top: 10px;
}